*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  text-align: center;
}

.carousel {
  position: relative;
  overflow: hidden;
  margin: 20px;
  max-height: 90vh;
}

.carousel-img {
  min-width: 100%;
}

.carousel-imgs {
  display: flex;
  max-height: 100%;
  max-height: 90vh;
}

.controls {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20%;
}

.controls > button {
  font-size: 10vw;
  background: none;
  border: none;
  color: white;
  padding: 0 5%;
}

.controls > button:hover {
  background-color: #0000005e;
}

.controls > button:active {
  background-color: black;
}
